---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
$yellow-color: 	   #FF9900;
$black-color:	   #000000;
$white-color:	   #FFFFFF;
$navigation-bar-background:     #2D2E2F;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "bootstrap"
;

/************************************** global *************************************/

html, body 
{
  height:100%;
  width:100%;
  padding-top: 25px;
}

img
{
  margin:0px;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

/************************************** global *************************************/

/************************************** general *************************************/

.bg-yellow
{
  background-color: $yellow-color;
}

.bg-grey
{
  background-color: #F7F9FA;
}

.bg-black
{
  background-color: #1D1D1D;
}

.yellow
{
  color: $yellow-color;
}

.white
{
  color: $white-color;
}

.center
{
  text-align: center;
}

.full-height 
{
  height:100%;
}

.full-width 
{
  width:100%;
}

/************************************** general *************************************/

/********************************** navigation bar **********************************/

.navbar-custom
{
	background-color: $navigation-bar-background;	
}

.navbar-custom .navbar-nav > .active > a
{
	background-color: $navigation-bar-background;
    border-bottom: 2px solid $white_color;
}

.glyphicon
{
	margin-right: 10px;
}

/********************************** navigation bar **********************************/

/******************************* navigation bar tabs ********************************/

#navigationBarTabs > li > a
{
	color: $white_color;
}

#navigationBarTabs > li > a:hover, #navigationBarTabs > li > a:focus
{
	background-color: $navigation-bar-background;
    border-bottom: 3px solid $white_color;
}

#navigationBarTabs > li
{
	margin-right:5px;
}

#navigationBarTabs > li:last-child
{
	margin-right:10px;
}

/******************************* navigation bar tabs ********************************/

/************************************** profile *************************************/

#profile
{
	min-height:33%;  
}

#profile-content
{
  min-height:67%;  
}

#avatar 
{    
    margin-top:-10%;  
    border: 2px solid white;
}

#profile-text
{
    margin-top:1%;
    color: $white_color;
    font-family: 'Lato', sans-serif; 
    font-size: 22px;
    text-align: justify;
    text-justify: inter-word;
    -moz-text-align-last: center;
    text-align-last: center;
    padding-left: 3%;
    padding-right: 3%;

}

#separator
{
    background-color: $yellow-color;
    height: 1px;
    border: 0;
    margin-top: 1%;
    margin-left: 17%;
    margin-right: 17%;
    margin-bottom: -1%;
    align: center
}

.container
{
  text-align: center;
  padding-top: 2%;
}

.container h1
{
  font-family: 'Lato', sans-serif; 
  color: $white_color;
  border-bottom: 1px solid #FFFFFF;
  border-bottom-color: rgba(255,255,255,0.35);  
  display:inline-block; 
}

.container .lead 
{
    font-family: 'Arvo', serif;
    font-size: 20px;
}

#social-icons > li > a
{
    font-size: 3em;
    color: $white_color;
}

#social-icons > li > a:hover
{
    color: $yellow_color;
}

.scroll-down .glyphicon 
{ 
  color: $yellow_color; 
  padding-left:12px; 
  padding-top: 5%; 
  animation-name: wiggle;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
.scroll-down:hover .glyphicon 
{ 
  padding-top: 25px; 
  color: $white_color;
}

/************************************** profile *************************************/

/************************************** media queries *******************************/

@media (max-width: 767px) 
{
  #avatar 
  {
    width:156px;
    margin-top:-80px;
  }

  .container 
  {
    padding-top:10px;
  }

  .container h1
  {
    padding-bottom: 5px;
  }

  .row .col-sm-6
  {
    height:50%;
  }

  #wrapper
  {
    padding-left:30px;
    padding-right:30px;
  }

  #skills .row .col-sm-6 
  {
    padding-top:10px;
    padding-bottom:10px;
    
  }
}
@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/************************************** media queries *******************************/

/************************************** animation ***********************************/

@keyframes wiggle 
{
    0% 
    {
        padding-top: 8px;
    }
    50% 
    {
        padding-top: 15px;
    }
    100% 
    {
        padding-top: 8px;
    }
}

@-webkit-keyframes wiggle 
{
    0% 
    {
        padding-top: 8px;
    }
    50% 
    {
        padding-top: 15px;
    }
    100% 
    {
        padding-top: 8px;
    }
}

/************************************** animation ***********************************/
